.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;

  &__label {
    display: block;
  }
  &__control {
    padding: 18px 33px;
    color: var(--color-primary-white);
    border: 2px solid var(--color-secondary-light-2);
    border-radius: 32px;
    background-color: transparent;
    width: 310px;
    height: 52px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    &:focus {
      background-color: var(--color-secondary-light-2);
      outline: none;
    }

    &::placeholder {
      color: var(--color-primary-white);
      font-family: var(--font-family), sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.5;
    }

    &:focus::placeholder {
      color: var(--color-primary-white);
    }
  }
}