.container {
    padding: 0 20px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    @media screen and (min-width: $bp-tablet) {
            max-width: 768px;
            padding: 0 22px;
    }
    @media screen and (min-width: $bp-desktop) {
        max-width: 1288px;    
         padding: 0 24px; 
    }
    
}