.footer {
    text-align: center;
    position: relative;
    background-color: var(--color-primary-dark);
    background-size: cover;
    background-position: center;
    padding: 56px 0;
    margin-top: -20px;
    line-height: 1.18;
    @media screen and (min-width: $bp-desktop) {
    margin-top: 48px;
    }
   
 &__logo-link {
        text-decoration: none;
    }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0; 
    width: 247px;
    height: 152px;
    @media screen and (min-width: $bp-desktop) {
    background-image: url('../imeges/photo-for-footer.png');
            background-size: 100%;
            background-repeat: no-repeat;
      }
 }  
 &__container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            flex-basis: 50%;            
         }
 }
 &__nav,
 &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
     @media screen and (min-width: $bp-desktop) {
        flex-direction: row;
        flex-basis: 50%;
        text-align: left;
      
    }
 }
 

 &__logo,
 &__menu{
      flex-grow: 1;
   }
 &__contact {
    flex-grow: 1;
   display: contents;       
      @media screen and (min-width: $bp-desktop) {
         display: block;
     }
 }

 &__icon {
   order: 3;
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 20px;
   @media screen and (min-width: $bp-desktop){
    order: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
    padding-top: 16px;
 }
 }
 &__link {
    margin-bottom: 16px;
    color: var(--color-primary-white);
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    font-weight: 400;
 }
&__address-list {
   display: none;
   
    @media screen and (min-width: $bp-desktop) {
        display: block;
        flex-direction: row;
        gap: 32px;
      }
   
 }
&__address-info {
   display: contents;
    @media screen and (min-width: $bp-desktop) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
      }
} 
 &__address-link {
   &:first-of-type {
         order: 2;
         margin-bottom: 0;
      }
    margin-bottom: 16px;
    color: var(--color-primary-white);
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
        @media screen and (min-width: $bp-desktop) {
         flex-direction: row;
         justify-content: center;
         margin-bottom: 16px;
         padding-top: 16px;
      }
    }

 &__address-link:hover {
    color: var(--color-secondary-light-2);
 }

 &__address-copyright {
    order: 4;
    margin-bottom: 16px;
    color: var(--color-secondary-light-2);
    font-family: var(--font-family), sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
     @media screen and (min-width: $bp-desktop) {
         order: 0;
         padding-top: 16px;
      }
  }
 
}







