.section {
    padding: 20px 0;
    @media screen and (min-width: $bp-desktop) {
        padding: 48px 0;
    }
 &__title {
     font-size: 32px;
       
        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 48px;
            color: var(--color-primary-dark);
            font-family: var(--second-family);
            font-size: 64px;
            font-weight: 700;
            line-height: 1.16;
        }
 &--centered {
    text-align: center;     
            }
        }
}

